body {
    background-color: rgb(226, 43, 171);
    align-items: center;
    text-align: center;
    font-family: cursive;
    font-size: 1rem;

}
h1 {
    align-items: center;
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
}


button:hover {
    cursor: pointer;
    background-color: blueviolet;
}

button {
  text-align: justify;  
  column-gap: 40rem;
  align-content: space-around;
  flex-direction: row-reverse;
  border-radius: 25px;
  flex-wrap: wrap;

}
flex-container {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-around;
}
  
  