body {
    background-color: rgb(226, 43, 171);
    align-items: center;
    text-align: center;
    font-family: cursive;
    font-size: 1rem;

}
h1 {
    align-items: center;
}

button:hover {
    cursor: pointer;
    background-color: blueviolet;
}

button {
  text-align: justify;  
  column-gap: 40rem;
  flex-wrap: wrap;
}